.activeNavbar{
background-color: indianred;
padding: 10px;
margin: 10px;
}

.navbar{
    padding: 10px;
    margin: 10px;
}


.light{
background-color:  #FDEDEC;
height: 100vh 
}


.dark{
background-color:  lightpink ;
height: 100vh 
}


#dentistas{
    text-decoration: none;
}


#contacto{
    text-decoration: none;
}



#favoritos{
    text-decoration: none;
}

#botonTema{
   padding: 5px;
}

#dentistasFavoritos{
  
padding-top: 50px;

}

#cantidadDeFavoritos{
    background-color:crimson;
    padding: 5px;
    color: white;
    border-radius: 20px;
}