#contenedorFormulario{
    border: 2 solid black;
    width: 300px;
    height: 200px;
 
    margin-left: 40%;   
    margin-top: 90px;

    background-color: antiquewhite;   
}


#nombre{
margin-top: 20px;
margin-bottom: 20px;
}


#botonEnviar{
margin-top: 20px;
}

#tituloContacto{
padding: 10px;
}

.mensajeError{
margin-top: 10PX;
padding: 20px;
color: white;
border: solid 2px;
background-color: red;
}

.mensajeCorrecto{
    margin-top: 10PX;
    padding: 20px;
    color: black;
    border: solid 2px;
    background-color: lightblue
}